*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/src/main/java/com/example/marvelcharactermultiplatform/android/Constants.kt
shared/src/commonMain/kotlin/com/example/marvelcharactermultiplatform/Constants.kt
